

.mrs-single-film.card{
	background-color: transparent;
	border: none;
}

.mrs-single-film.card .card-body{
    background-color: rgba(0,0,0,0.4);
}

.mrs-single-film .mrs-film-title{
	text-align: center;
	margin-bottom: 0.2rem;
}

.mrs-rating{
	padding: 4px;
	display: block;
	text-align: center;
}

.mrs-rating span{
	width: 1.0rem;
	height: 1.0rem;
	padding: 4px;
	display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.mrs-rating span.full{
    background-image: url("../img/star.png");
}

.mrs-rating span.half{
    background-image: url("../img/star-half.png");
}

.mrs-rating span.numeric{
	display: inline;
	color: #fcd828;
	font-weight: bold;
}

.mrs-film-tags{
    line-height: 2.2rem;
}

.mrs-film-tags span{
    margin: 0 2px;
    padding: 4px 8px;
    border-radius: 1.5rem;
}

.mrs-film-tags span.fantasy{
    background-color: #5603AD; 
}

.mrs-film-tags span.action{
    background-color: #FF7733; 
}

.mrs-film-tags span.drama{
    background-color: #8B7F81; 
}

.mrs-film-tags span.comedy{
    background-color: #06D6A0; 
}

.mrs-film-tags span.romance{
    background-color: #EC0868; 
}

.mrs-film-tags span.thriller{
    background-color: #F13030; 
}

.mrs-film-tags span.scifi{
    background-color: #0D3B66; 
}

.mrs-film-tags span.family{
    background-color: #256EFF; 
}