@font-face{
    font-family: "GreatVibes-Regular";
    src: url('../font/GreatVibes-Regular.ttf');
}

@font-face{
    font-family: "Monoton-Regular";
    src: url('../font/Monoton-Regular.ttf');
    /*url('Thonburi-Bold.eot');*/ /* IE */
}

@font-face{
    font-family: "Anton-Regular";
    src: url('../font/Anton-Regular.ttf');
}

html{
    width: 100%;
    overflow-x: hidden;
}

body{
    background-image: url('../img/admission-2974645_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    align-items: start;
    min-height: 100vh;
    width: 100%;
}

main{
  width: 100%;
  margin: 64px 0 32px 0;
}

main.mrs-home{
  margin-top: 0px;
}

.mrs-navigation{
    z-index: 501;
    font-size: 1.1rem;
    line-height: 1.0em
}

.mrs-brand{
    font-family: "GreatVibes-Regular",sans-serif !important;
    font-size: 2.0rem;
    margin-top: 8px;
}

.mr-brand.nav-brand{  
    margin-left: 24px;
    margin-right: 24px; 
}

.mrs-navigation-list > .mrs-navigation-link{
    alignment-baseline: baseline;
    font-size: 1.2rem;
    /*font-weight: 600;
    margin: auto 4px;*/
}

.mrs-navigation-list > .mrs-navigation-link, .mrs-nav-search{
    text-align-last: left;
    display: block;
}

.mrs-navigation-link.mrs-navigation-link-reserve > a{
    color: #FFFD82 !important;
}

.mrs-navigation-link.mrs-navigation-link-reserve:hover > a{
    text-decoration: underline;
    color: #FFFFE8 !important;
}

.mrs-navigation-link.mrs-navigation-link-reserve.active > a{
    text-decoration: underline;
}

.mrs-user{
    /*text-align: right;*/
    padding: 0 16px;
}

.mrs-user > span{
    vertical-align: middle;
}

.mrs-user-avatar{
    width: 2.4rem;
    padding-right: 4px;
}

@media (max-width: 992px){
    section.mrs-user{
        padding: 8px;
        background-color: #FFFD82;
        color: #555;
    } 
}

.mrs-section{
    margin-top: 16px;
    margin-bottom: 16px;
}

.mrs-section > h2{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
    padding-bottom: 8px;
    font-family: "Anton-Regular";
    font-size: 2.5em;
    border-bottom: 2px solid #CCCCCC;
    display: block;
}

.mrs-paragraph{
    text-indent: 24px;
}

.mrs-now-showing{
    margin: 0;
}

.mrs-now-showing > h2{
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 38px;
    padding: 8px 8px;
    width: 100%;
    text-align: center;
    display: inline;
    z-index: 500;
    font-size: 5.0rem !important;
    background-color: rgba(0, 0, 0, 0.33);
    border-bottom: none;
    max-height: 320px
}

.mrs-featured-content > .card{
    margin: 8px;
    padding: 0;
}

.mrs-featured-film a{
    display: block;
}

.mrs-reserve-cta-content > p{
    width: 92%;
    font-size: 1.2rem;
    text-indent: 5.0rem;
}

.mrs-reserve-cta-btn{
    padding: 8px 32px;
    background-color: #FFFD82;
    border-radius: 36px;
    font-size: 1.2rem;
    color: #444444;
    border: 2px solid #FFFD82;
    width: fit-content;
    display: block;
    margin: 0 auto;
}

.mrs-reserve-cta-btn:hover{
    text-decoration: none;
    color: #FFFD82;
    background-color: transparent;
}

.mrs-films{  
    margin: 24px;
}

.mrs-films > .card.mrs-film{  
    background: transparent!important;
    border: none;
}

.card.mrs-film {
    position: relative;
    overflow: hidden;
}

.card:hover .mrs-film-img:before {
    bottom: 0;
}

.card .mrs-film-img img {
    width: 100%;
    transition: 0.5s;
}

.card:hover .mrs-film-img img {
    filter: blur(2px);
    transform: translateY(-30px);
}

.mrs-film-details {
    position: absolute;
    padding: 24px;
    width: 100%;
    height: 74%;
    bottom: -290px;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
}

.card:hover .mrs-film-details {
    bottom: 0;
}

.mrs-film-details h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card:hover .mrs-film-details h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
}

.mrs-film-details h2 span {
    font-size: 14px;
    color: #ff9800;
}

.mrs-film-rating {
    position: relative;
    padding: 5px, 0;
}

.mrs-film-rating .fa {
    color: #f7f406;
    margin-right: 2px;
    font-size: 16px;
}

.mrs-film-rating span {
    color: #fff;
    padding: 0 5px;
}

.mrs-film-tags {
    position: relative;
    margin-top: 5px;
}

.mrs-film-tags span {
    padding: 2px 5px;
    margin-right: 2px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}

.mrs-film-tags span.fantasy {
    background: #7206f7;
}

.mrs-film-tags span.scifi {
    background: #f70661;
}

.mrs-film-info {
    margin-top: 8px;
    color: #fff;
}

.mrs-film-info p {
    margin: 15px, 10px;
}

/*.star {
    position: relative;
}

.star h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #f7f406
}

.star ul {
    margin: 10px 0 0;
    padding: 0;
    display: flex;
}

.star ul li {
    list-style: none;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
    border: 2px solid #fff;
}

.star ul li img {
    width: 100%;
}*/

.mrs-reserve-film > div{
    padding: 0;
}

.mrs-reserve-sched{
    /*background-color: #343a40d6;*/
    border: none;
}

.mrs-reserve-sched-table{
    margin: 0 auto;
}

.mrs-reserve-title{
    font-size: 2.0rem;
    color: white;
    text-transform: capitalize;
}

.mrs-reserve-sched-table thead tr{
    color: #444444;
    background-color: #FFFD82;
}

.mrs-reserve-sched-table tbody{
    color: white;
}

.mrs-reserve-sched-table tr{
    text-align: center;
    line-height: 1.4em;
}

.mrs-reserve-sched-table a{
    text-decoration: none;
    padding: .2rem 1.2rem;
    color: #444444;
    background-color: #FFFD82;
    border-radius: 1.0rem;
    border: 2px solid #FFFD82;
}

.mrs-reserve-search{
    margin-top: 64px;
    margin-bottom: 64px;
}

.mrs-reserve-search .form-group {
    width: 100%;
}

.mrs-reserve-search input[type="search"]{
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 0px;
    text-align: center;
    color: white;
    font-size: 1.4rem;
}

.mrs-reserve-search input[type="search"]:focus{
    border: none;
}

.mrs-reserve-search-results{
    font-size: 0.8rem;
}

.mrs-reserve-search-results .mrs-film-details {
    position: absolute;
    padding: 24px;
    width: 100%;
    height: 74%;
    bottom: -180px;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
}

.mrs-reserve-search-results > p{
    font-size: 1.4rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

/**.mrs-film-details {
    bottom: -290px;
}**/

/*FOOTER CSS*/

.mrs-footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    background-color: black;
    border-top: 4px solid #BAD9B5;
}

.mrs-footer > * {
    flex:  1 100%;
}

.mrs-footer-addr {
    margin-right: 1.25em;
}

.mrs-footer-addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav-title {
    font-weight: 400;
    font-size: 15px;
}

.mrs-footer address {
    font-style: normal;
    color: #999;
}

.mrs-footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    border-radius: 100px;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.mrs-footer ul {
    list-style: none;
    padding-left: 0;
}

.mrs-footer li {
    line-height: 2em;
}

.mrs-footer a {
    text-decoration: none;
}

.mrs-footer-nav {
    display: flex;
    flex-flow: row wrap;
}

.mrs-footer-nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav-ul a {
    color: #999;
}

.nav-ul-extra {
    column-count: 2;
    column-gap: 1.25em;
}

.mrs-footer-copy {
    display: block;
    color: #999;
    text-align: center;
}

.mrs-footer-copy .mrs-brand{
  font-size: 1.2rem;
  margin-right: 4px;
}
  
.mrs-footer-copy-links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .mrs-footer-legal .mrs-footer-legal-links {
      margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .mrs-footer-nav > * {
        flex: 1;
    }
    
    .nav-item-extra {
        flex-grow: 2;
    }
    
    .mrs-footer-addr {
        flex: 1 0px;
    }
    
    .mrs-footer-nav {
        flex: 2 0px;
    }
}

.film-button a{
    text-decoration: none;
    padding: .2rem 1.2rem;
    color: #444444;
    background-color: #FFFD82;
    border-radius: 1.0rem;
    border: 2px solid #FFFD82;
}