@font-face{
    font-family: "GreatVibes-Regular";
    src: url('../font/GreatVibes-Regular.ttf');
}

@font-face{
    font-family: "Monoton-Regular";
    src: url('../font/Monoton-Regular.ttf'),
    /*url('Thonburi-Bold.eot');*/ /* IE */
}

@font-face{
    font-family: "Anton-Regular";
    src: url('../font/Anton-Regular.ttf'),
    /*url('Thonburi-Bold.eot');*/ /* IE */
}

.mrs-navigation-list > .mrs-navigation-link, .mrs-nav-search{
	text-align-last: right;
    display: block;
}

.mrs-section > h2{
	text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
    font-family: "Anton-Regular";
    font-size: 2.5em;
    border-bottom: 1px dashed #D8A47F;
    display: block;
}

.mrs-now-showing > h2{
	color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 24px;
    padding: 8px 8px;
    width: 100%;
    text-align: center;
    display: inline;
    z-index: 500;
    font-size: 2.5em;
    font-family: "Anton-Regular";
    background-color: rgba(0, 0, 0, 0.33);
    border-bottom: none;
    max-height: 320px
}

.mrs-section > .mrs-featured-content > .card{
	margin-top: 15px;
    margin-left: 22px;
    margin-right: 22px;
}

.main{
    background-color: #FFFFFF;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.body{
    background-image: url('../img/cinema.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container{
    width: 15rem;
}

/*FILM CARDS*/

.card{
    overflow: hidden;
}

/*.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
  width: 300px;
  height: 450px;
}*/

.card .poster {
  position: relative;
  overflow: hidden;
}

.card .poster:before {
  content: "";
  position: absolute ;
  bottom: -190px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,#000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.card:hover .poster:before {
  bottom: 0;
}

.card .poster img {
  width: 100%;
  transition: 0.5s;
}

.card:hover .poster img {
  filter: blur(2px);
  transform: translateY(-30px);
}

.details {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 74%;
  bottom: -190px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.card:hover .details {
  bottom: 0;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.details h2 span {
  font-size: 14px;
  color: #ff9800;
}

.rating {
  position: relative;
  padding: 5px, 0;
}

.rating .fa {
  color: #f7f406;
  margin-right: 2px;
  font-size: 16px;
}

.rating span {
  color: #fff;
  padding: 0 5px;
}

.tags {
  position: relative;
  margin-top: 5px;
}

.tags span {
  padding: 2px 5px;
  margin-right: 2px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.tags span.fantasy {
  background: #7206f7;
}

.tags span.scifi {
  background: #f70661;
}

.info {
  color: #fff;
}

.info p {
  margin: 15px, 0, 10px;
}

/*.star {
  position: relative;
}

.star h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f7f406
}

.star ul {
  margin: 10px 0 0;
  padding: 0;
  display: flex;
}

.star ul li {
  list-style: none;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
  border: 2px solid #fff;
}

.star ul li img {
  width: 100%;
}*/

/*FOOTER CSS*/
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #000000;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}